{% extends "index.html" %}
{% load static %}


{% block extra_css %}
    <title>Crear sección</title>
    <link rel="stylesheet" href="{% static 'css/alta.css' %}">
{% endblock %}


{% block contenido %}
    <h2>Añadir nueva sección</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Nombre del Producto -->
        <label for="nombre_producto">Nombre de la sección</label>
        <input type="text" id="nombre_seccion" name="nombre_seccion" placeholder="Nombre de la seccion" required>
        
        <br><br>
        
        <!-- Descripción del Producto -->
        <label for="descripcion">Descripción de la sección:</label>
        <textarea id="descripcion" name="descripcion" rows="3" cols="20" placeholder="Escribe aquí los detalles..." required></textarea>
        
        <br><br>

        <!-- Botón de enviar -->
        <button type="submit" class="neon-btn">Guardar</button>
    </form>
{% endblock %}
